<div class="container">
    <div class="row">
        <h2 class="text-center">{{welcome}}</h2>
    </div>

    <hr class="row"/>

    <input class="mdl-textfield--full-width podsearch" title="Search Podcasts..." placeholder="Search Podcasts..." type="text" [(ngModel)]="search">

    <div class="row">
        <h4>Your Recommended Podcasts:</h4>
    </div>

    <div *ngFor="let podcast of recommendedPodcasts | filter : 'name' : search" class="col-md-4">
        <div class="well pod">
            <h4 class =""><a class="title" [routerLink]="'/podcast/' + podcast._id">{{podcast.name}}</a></h4>
            <h6 class="truncate">{{podcast.description}}</h6>
        </div>
    </div>

    <div class="row">
        <div *ngIf="recommendedPodcasts?.length <= 0">
            <div class="text-center">
                <div class="alert alert-info">
                    <strong>Loading...</strong> Loading Podcasts that are highly rated or fit into your interests!
                </div>
            </div>
        </div>
    </div>

    <!--<div class="row">
        <div class="col-xs-offset-4 col-xs-4">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getZen()">
                Get Your Zen
            </button>
        </div>
        <div class="col-xs-12 text-center">
            <h3>{{zen}}</h3>
        </div>
    </div>-->
</div>
